.secTitle {
  margin: 5rem auto;
}
.downloadButton {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 2rem;
  cursor: pointer;
  background-color: #fdb730;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  position: relative; /* Required for pseudo-element positioning */
  overflow: hidden; /* Hide overflow to prevent shine from leaking */
  transition: background-color 0.3s ease;
}

.downloadButton:hover {
  background-color: #fdb730;
}

.downloadButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%; /* Start shine effect from left side */
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4); /* Adjust shine color and opacity */
  transform: skewX(-45deg); /* Skew to create the shine effect */
  transition: left 0.6s ease;
}

.downloadButton:hover::before {
  left: 100%; /* Move shine effect to the right side on hover and active */
}

/* Centering the button */
.centerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
