/* LocationAndProximity.module.css */

.sectionContainer {
  margin: 20px;
  text-align: center; /* Center align contents within the section */
}

.secTitle {
  margin: 5rem auto;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 2rem;
  cursor: pointer;
  background-color: #fdb730;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  position: relative; /* Required for pseudo-element positioning */
  overflow: hidden; /* Hide overflow to prevent shine from leaking */
  transition: background-color 0.3s ease;
}

.activeButton {
  background-color: #1c7498; /* Change to desired active color */
}

.button:hover {
  background-color: #fdb730;
}

.button.activeButton:hover {
  background-color: #1c7498; /* Keep hover color same as active color */
}

/* Shine animation */
.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%; /* Start shine effect from left side */
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4); /* Adjust shine color and opacity */
  transform: skewX(-45deg); /* Skew to create the shine effect */
  transition: left 0.6s ease;
}

.button:hover::before {
  left: 100%; /* Move shine effect to the right side on hover and active */
}

.imagesContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Add margin top for separation */
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%; /* Aspect ratio (adjust as needed) */
  overflow: hidden;
}

.image {
  position: absolute;
  border-radius: 2rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); /* Add drop shadow */
}

.hidden {
  opacity: 0;
  pointer-events: none; /* Hide and disable interaction with hidden images */
}
