.what-offered-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding: 20px;
  flex-direction: column; /* Stack elements vertically */
}

.button-list {
  display: flex; /* Display as flex container */
  justify-content: center; /* Center buttons horizontally */
  margin-right: 20px; /* Add margin for separation */
  position: sticky; /* Stick the button list */
  top: 20px; /* Distance from the top */
  z-index: 1; /* Ensure it's above other content */
}

.button-list ul {
  list-style-type: none; /* Remove default list styling */
  padding: 0;
  display: flex; /* Display as flex container */
}

.button-list li {
  margin-bottom: 10px;
}

.button-list button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 2rem;
  cursor: pointer;
  background-color: #fdb730;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  position: relative; /* Required for pseudo-element positioning */
  overflow: hidden; /* Hide overflow to prevent shine from leaking */
  transition: background-color 0.3s ease;
}

.button-list button:hover {
  background-color: #fdb730;
}
.button-list button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%; /* Start shine effect from left side */
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4); /* Adjust shine color and opacity */
  transform: skewX(-45deg); /* Skew to create the shine effect */
  transition: left 0.6s ease;
}

.button-list button:hover::before {
  left: 100%; /* Move shine effect to the right side on hover and active */
}
.button-list button.active {
  background-color: #1c7498;
}

.content {
  flex: 1; /* Take remaining space */
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.card {
  background-color: #032729;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.1);
  display: flex; /* Display as flex container */
  flex-direction: row; /* Arrange content horizontally */
  align-items: center; /* Center items vertically */
  width: 100%;
}

.card img {
  border-radius: 1rem;
}

.card-text {
  flex: 1; /* Take remaining space */
  text-align: left; /* Align text to the left */
  color: #fff; /* Text color */
  padding-right: 20px; /* Add padding on the right for spacing */
}

/* .card-text h2 {
  font-size: 5rem;
  margin-bottom: 10px;
} */

.card-text p {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  color: #666;
  border-bottom: 1px solid #ccc; /* Add underline */
  margin-top: 15px; /* Add margin-top */
  padding-bottom: 10px; /* Add padding-bottom for spacing */
}

.card-text span {
  text-align: right; /* Align text to the right */
}

@media (max-width: 768px) {
  .card {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: flex-start; /* Align items to the left on smaller screens */
  }

  .card img {
    margin-top: 20px; /* Add margin between text and image on smaller screens */
  }
}
.circle-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust margin as needed */
  flex-wrap: wrap; /* Wrap circles to next line on smaller screens */
}

.circle {
  width: 300px; /* Adjust circle size */
  height: 300px; /* Adjust circle size */
  border-radius: 50%; /* Create circle shape */
  border: 5px solid #fdb730; /* Circle border */
  position: relative; /* Position for shine effect */
  overflow: hidden; /* Hide overflowing shine effect */
  transition: border-color 0.3s ease; /* Smooth transition for border color */
  margin: 20px; /* Adjust margin for spacing */
  display: flex; /* Center content horizontally and vertically */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.circle-content {
  text-align: center;
  color: #fdb730;
}

.circle-content h3 {
  font-size: 5rem;
  margin-bottom: 10px;
}

.circle-content p {
  font-size: 1.8rem;
}

/* Shine effect on hover */
.circle::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: rgba(255, 255, 255, 0.4);
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.circle:hover::after {
  opacity: 1;
}

@media (max-width: 1200px) {
  .circle {
    width: 250px; /* Adjust circle size for medium screens */
    height: 250px; /* Adjust circle size for medium screens */
  }

  .circle-content h3 {
    font-size: 4rem;
  }

  .circle-content p {
    font-size: 1.5rem;
  }

  .card-text h2 {
    font-size: 4rem;
  }

  .card-text p {
    font-size: 1.5rem;
  }

  .button-list button {
    font-size: 25px;
    padding: 8px 16px;
  }
}

@media (max-width: 768px) {
  .what-offered-container {
    height: auto; /* Reset height for smaller screens */
  }

  .button-list {
    flex-direction: column; /* Stack buttons vertically on smaller screens */
    align-items: center; /* Center buttons horizontally */
    margin-right: 0;
    margin-bottom: 20px; /* Add space below button list */
    position: static; /* Reset position for smaller screens */
    top: auto; /* Reset top for smaller screens */
    z-index: auto; /* Reset z-index for smaller screens */
  }

  .button-list button {
    margin: 10px 2px; /* Adjust margin between vertically stacked buttons */
    font-size: 20px;
    padding: 6px 12px;
  }

  .content {
    flex-direction: column; /* Stack content vertically on smaller screens */
    align-items: center; /* Center content horizontally */
  }

  .card {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: flex-start; /* Align items to the left on smaller screens */
  }

  .card img {
    margin-top: 20px; /* Add margin between text and image on smaller screens */
  }

  .circle {
    width: 200px; /* Adjust circle size for small screens */
    height: 200px; /* Adjust circle size for small screens */
  }

  .circle-content h3 {
    font-size: 3rem;
  }

  .circle-content p {
    font-size: 1.2rem;
  }

  .card-text h2 {
    font-size: 3rem;
  }

  .card-text p {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .circle {
    width: 150px; /* Adjust circle size for extra small screens */
    height: 150px; /* Adjust circle size for extra small screens */
  }

  .circle-content h3 {
    font-size: 1.5rem;
  }

  .circle-content p {
    font-size: 15px;
    line-height: 1;
  }

  .card-text h2 {
    font-size: 2.5rem;
  }

  .card-text p {
    font-size: 1rem;
  }

  .button-list button {
    font-size: 18px;
    padding: 5px 10px;
  }
}
.title {
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Align items vertically */
  margin-bottom: 20px; /* Add margin below title */
}

.title img {
  width: 64px; /* Adjust icon size */
  height: 64px; /* Adjust icon size */
  margin-right: 10px;
}
.title h2 {
  margin-left: 10px; /* Add margin between icon and text */
  border-bottom: 2px solid #fdb730;
}
